html {
  font-size: 62.5%;
  font-family: sans-serif;
  box-sizing: border-box;
  
}
body {
  width: 8.5in;

  .story {
    position: relative; 
    width: 4.25in;
    height: 3.666666667in;
    float: left;
    border-right: thin solid black;
    border-bottom: thin solid black;
    margin: 0;
    padding: 1em;
    display: block;
    
    .id {
      float: right;
      text-align: right;
    }
    
    .type {
      float: left;
      text-align: left;
    }

    .main-content{
      height: calc(~"100% - 3.2em");
      overflow: hidden;
    }
    
    .title {
      font-size: 2em;
      max-height: 4em;
      overflow: hidden;
    }

    .points, .value, .roi {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4.25in;
      padding-bottom: 1em;
      padding-left: 1em;
      padding-right: 1em;
      margin: auto;
      h3 {
        display: inline;
      }
    }
    
    .points {
      text-align: right;
    }
    
    .value {
      text-align: left;
    }
    
    .roi {
      text-align: center;
    }
  }

  .story.no-value {
    .main-content{
      height: calc(~"100% - 2em");
    }
  }
}
